<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARNECARE Nuevos puentes nasales para mascarillas</title>
    <meta name="description" content="Nuevos puentes nasales para mascarillas">
    <meta name="keywords" content="Arnecare, Arneplant, mascarillas, plantillas, puentes nasales">
    <meta name="author" content="Arneplant">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/img/arnecare_icono.ico">

</head>

<body>
    {{{body}}}
</body>

</html>